body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.students-list {
    padding: 20px;
}

.students-list ul {
    list-style-type: none;
    padding: 0;
}

.students-list ul li {
    margin-bottom: 20px;
}

.students-list ul li img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.students-list ul li h3 {
    margin: 10px 0 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
